## Importing and Cleaning the Data

In [1]:
!head -1 data/AirBase_v7_stations.csv

station_european_code	station_local_code	country_iso_code	country_name	station_name	station_start_date	station_end_date	type_of_station	station_ozone_classification	station_type_of_area	station_subcat_rural_back	street_type	station_longitude_deg	station_latitude_deg	station_altitude	station_city	lau_level1_code	lau_level2_code	lau_level2_name	EMEP_station

In [2]:
from IPython.display import HTML
HTML('<iframe src=http://www.eea.europa.eu/data-and-maps/data/airbase-the-european-air-quality-database-8 width=750 height=350></iframe>')

In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
!head -1 data/AirBase_v7_stations.csv

station_european_code	station_local_code	country_iso_code	country_name	station_name	station_start_date	station_end_date	type_of_station	station_ozone_classification	station_type_of_area	station_subcat_rural_back	street_type	station_longitude_deg	station_latitude_deg	station_altitude	station_city	lau_level1_code	lau_level2_code	lau_level2_name	EMEP_station

In [29]:
airline_data = pd.read_csv('data/AirBase_v7_stations.csv', sep='\t',names=None)

In [28]:
airline_data.head()

,station_european_code,station_local_code,country_iso_code,country_name,station_name,station_start_date,station_end_date,type_of_station,station_ozone_classification,station_type_of_area,station_subcat_rural_back,street_type,station_longitude_deg,station_latitude_deg,station_altitude,station_city,lau_level1_code,lau_level2_code,lau_level2_name,EMEP_station
0,AD0944A,944,AD,ANDORRA,Engolasters,2006-02-10,NaN,Background,NaN,rural,NaN,NaN,1.565014,42.516945,1637,NaN,NaN,NaN,NaN,no
1,AD0945A,945,AD,ANDORRA,Envalira,2011-05-01,NaN,Background,NaN,rural,NaN,NaN,1.716986,42.534882,2515,NaN,NaN,NaN,NaN,no
2,AD0942A,942,AD,ANDORRA,Escaldes-Engordany,2004-06-17,NaN,Background,NaN,urban,NaN,NaN,1.539172,42.509724,1080,ANDORRA LA VELLA,NaN,NaN,NaN,no
3,AL0201A,AL360A01,AL,ALBANIA,Tirana Center,2010-01-06,NaN,Traffic,urban,urban,NaN,Canyon street: L/H < 1.5,19.821772,41.330269,162,TIRANA,NaN,NaN,NaN,no
4,AL0202A,AL360A02,AL,ALBANIA,Tirana IPH,2010-06-15,NaN,Traffic,suburban,suburban,NaN,Wide street: L/H > 1.5,19.851667,41.345600,207,TIRANA,NaN,NaN,NaN,no

In [32]:
new_airlinedata = airline_data.drop('station_latitude_deg',axis=1)
new_airlinedata.head()

,station_european_code,station_local_code,country_iso_code,country_name,station_name,station_start_date,station_end_date,type_of_station,station_ozone_classification,station_type_of_area,station_subcat_rural_back,street_type,station_longitude_deg,station_altitude,station_city,lau_level1_code,lau_level2_code,lau_level2_name,EMEP_station
0,AD0944A,944,AD,ANDORRA,Engolasters,2006-02-10,NaN,Background,NaN,rural,NaN,NaN,1.565014,1637,NaN,NaN,NaN,NaN,no
1,AD0945A,945,AD,ANDORRA,Envalira,2011-05-01,NaN,Background,NaN,rural,NaN,NaN,1.716986,2515,NaN,NaN,NaN,NaN,no
2,AD0942A,942,AD,ANDORRA,Escaldes-Engordany,2004-06-17,NaN,Background,NaN,urban,NaN,NaN,1.539172,1080,ANDORRA LA VELLA,NaN,NaN,NaN,no
3,AL0201A,AL360A01,AL,ALBANIA,Tirana Center,2010-01-06,NaN,Traffic,urban,urban,NaN,Canyon street: L/H < 1.5,19.821772,162,TIRANA,NaN,NaN,NaN,no
4,AL0202A,AL360A02,AL,ALBANIA,Tirana IPH,2010-06-15,NaN,Traffic,suburban,suburban,NaN,Wide street: L/H > 1.5,19.851667,207,TIRANA,NaN,NaN,NaN,no

### Stack and Unstack data

In [34]:
df=pd.DataFrame({'A':['one', 'one','two', 'two'],'B':['a','a','b','b'],'C':[i for i in range(4)]})
df

     A  B  C
0  one  a  0
1  one  a  1
2  two  b  2
3  two  b  3

In [38]:
df = df.set_index(['B',''])
df

KeyError: 'A'