In [2]:
import pandas as pd

In [5]:
pd.import_csv('DOCK_OUT.CSV')

AttributeError: module 'pandas' has no attribute 'import_csv'

In [9]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
s.index
s.values

array([1, 2, 3, 4, 5], dtype=int64)

In [13]:
population = pd.Series({'Germany':81.3, 'Belgium':11.3, 'India':99.3, 'Netherlands':16.9})
population

Belgium        11.3
Germany        81.3
India          99.3
Netherlands    16.9
dtype: float64

In [15]:
population['India']

99.299999999999997

But with the Power of numpy arrays

In [19]:
population * 1000

Belgium        11300
Germany        81300
India          99300
Netherlands    16900
dtype: float64

In [17]:
population['India']

99.299999999999997

In [18]:
population['Germany':'Netherlands']

Germany        81.3
India          99.3
Netherlands    16.9
dtype: float64

In [21]:
population[population > 20]

Germany    81.3
India      99.3
dtype: float64

In [ ]:
population.mean