In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
pd.read_csv('DOCK_OUT.CSV')

,Sl.No,Receptor Protein,Ligand,Docking Score,Docking Result,No of Interactions,Interaction Sites
0,1,choline,7hydroxycoumarin,-3266,YES,5,"GLN-244,TYR-288,ASP-264"
1,2,choline,7isoorientin,-6142,YES,4,NaN
2,3,choline,Kaempferol,-4396,YES,5,"SER-150,TYR-147,ARG-104"
3,4,choline,isoshaftoside,-6236,YES,1,NaN
4,5,choline,Chrysin,-4194,YES,4,"LEU-70,GLY-76,ASP-264"
5,6,choline,Isovitexin,-5616,YES,2,NaN
6,7,choline,Lucenin,-6450,YES,4,NaN
7,8,choline,Lutenin,-4498,YES,3,"TYR-147,ARG-84,ARG-104"
8,9,choline,Scopoletin,-3374,YES,3,"SER-79,LEU-78,GLN-244"
9,10,choline,umbelliferone,-3690,YES,3,"ASP-264,ASN-247"
10,11,choline,Betaine,-2748,YES,1,GLN-244
11,12,choline,Choline,-2332,YES,1,GLN-244
12,13,choline,Ephedrine,-3442,YES,2,"MET-210,ASN-211"
13,14,choline,Hypaphorine,-4232,YES,2,"GLY-76,SER-75"
14,15,choline,pseudo-ephedrine,-3428,YES,1,GLY-246
15,16,choline,Vasicinol,-3660,YES,1,TYR-267
16,17,choline,b-phenethylamine,-3218,YES,2,"TYR-373,TYR-288"
17,18,choline,asiatic acid,-5946,YES,1,ARG-84
18,19,choline,brahmic acid,-5918,YES,1,NaN
19,20,choline,Campesterol,-5666,YES,1,NaN
20,21,choline,Amentoflavone,-5920,YES,5,"GLY-76,THH-289,GLN-244, LEU-78"
21,22,choline,Epigallocatechin,-4426,YES,3,NaN
22,23,choline,Humulene,NaN,NO,NaN,NaN
23,24,choline,Hypericin,-5774,YES,1,NaN
24,25,choline,Hyperoside,-5232,YES,5,NaN
25,26,choline,Isoquercetin,-5310,YES,2,NaN
26,27,choline,Miquelianin,-5088,YES,2,NaN
27,28,choline,Myricetin,-4476,YES,3,NaN
28,29,choline,Nicotinamide,-2788,YES,3,"TYR-267,TYR-288,ASP-264"
29,30,choline,Pectin Disaccharide,-4240,YES,5,"ARG-104,SER-75,LEU-78,GLN-244,ASP-264"
...,...,...,...,...,...,...,...
333,334,transcriptional enhancer factor -3,Isoshaftoside,-5218,YES,1,NaN
334,335,transcriptional enhancer factor -3,Chrysin,-4164,YES,2,NaN
335,336,transcriptional enhancer factor -3,Isovitexin,-5158,YES,1,NaN
336,337,transcriptional enhancer factor -3,Lucenin,-5630,YES,1,NaN
337,338,transcriptional enhancer factor -3,Lutenin,-4606,YES,1,NaN
338,339,transcriptional enhancer factor -3,Scopoletin,-3550,YES,2,NaN
339,340,transcriptional enhancer factor -3,Umbelliferone,-3778,YES,5,NaN
340,341,transcriptional enhancer factor -3,Betaine,NaN,NO,NaN,NaN
341,342,transcriptional enhancer factor -3,Choline,-2496,YES,1,NaN
342,343,transcriptional enhancer factor -3,Ephedrine,-3524,YES,1,NaN
343,344,transcriptional enhancer factor -3,Hypaphorine,NaN,NO,NaN,NaN
344,345,transcriptional enhancer factor -3,pseudo-ephedrine,NaN,NO,NaN,NaN
345,346,transcriptional enhancer factor -3,Vasicinol,-3604,YES,1,NaN
346,347,transcriptional enhancer factor -3,b-phenethylamine,NaN,NO,NaN,NaN
347,348,transcriptional enhancer factor -3,asiatic acid,-5220,YES,3,NaN
348,349,transcriptional enhancer factor -3,brahmic acid,-4892,YES,1,NaN
349,350,transcriptional enhancer factor -3,Campesterol,-5168,YES,1,NaN
350,351,transcriptional enhancer factor -3,Amentoflavone,-5266,YES,2,NaN
351,352,transcriptional enhancer factor -3,Epigallocatechin,-4544,YES,1,NaN
352,353,transcriptional enhancer factor -3,Humulene,NaN,NO,NaN,NaN
353,354,transcriptional enhancer factor -3,Hypericin,-4558,YES,1,NaN
354,355,transcriptional enhancer factor -3,Hyperoside,-4530,YES,1,NaN
355,356,transcriptional enhancer factor -3,Isoquercetin,-4502,YES,6,NaN
356,357,transcriptional enhancer factor -3,Miquelianin,-5296,YES,4,NaN
357,358,transcriptional enhancer factor -3,Myricetin,-4718,YES,1,NaN
358,359,transcriptional enhancer factor -3,Nicotinamide,NaN,NO,NaN,NaN
359,360,transcriptional enhancer factor -3,Pectin Disaccharide,-4284,YES,4,NaN
360,361,transcriptional enhancer factor -3,p-hydroxybenzoic acid,-2788,YES,1,NaN
361,362,transcriptional enhancer factor -3,vanillic acid,-3316,YES,1,NaN
362,363,transcriptional enhancer factor -3,b-sitosterrol,-5494,YES,1,NaN

In [4]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
s.index
s.values

array([1, 2, 3, 4, 5], dtype=int64)

In [5]:
population = pd.Series({'Germany':81.3, 'Belgium':11.3, 'India':99.3, 'Netherlands':16.9})
population

Belgium        11.3
Germany        81.3
India          99.3
Netherlands    16.9
dtype: float64

In [15]:
population['India']

99.299999999999997

But with the Power of numpy arrays

In [19]:
population * 1000

Belgium        11300
Germany        81300
India          99300
Netherlands    16900
dtype: float64

In [17]:
population['India']

99.299999999999997

In [18]:
population['Germany':'Netherlands']

Germany        81.3
India          99.3
Netherlands    16.9
dtype: float64

In [7]:
population[population > 20]

Germany    81.3
India      99.3
dtype: float64

In [9]:
population.mean()

52.199999999999996

Alignment!!

In [13]:
s1 = population[['Belgium','India']]
s2 = population[['India', 'Germany']]

In [11]:
s1

Belgium    11.3
India      99.3
dtype: float64

In [14]:
s2

India      99.3
Germany    81.3
dtype: float64

In [15]:
s1 + s2

Belgium      NaN
Germany      NaN
India      198.6
dtype: float64

DATAFRAME: a combination of series in both x and y axis

In [3]:
data = {
    'country':['Belgium','Germany','India','Netherlands'],
    'pop':[11.3,64.3,88.9,77.4],
    'area':[12345,67239,99993,23456],
    'capitol':['Brussels','Berlin','New Delhi','Amsterdam']
       }
countries = pd.DataFrame(data)
countries

    area    capitol      country   pop
0  12345   Brussels      Belgium  11.3
1  67239     Berlin      Germany  64.3
2  99993  New Delhi        India  88.9
3  23456  Amsterdam  Netherlands  77.4

In [17]:
countries.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [18]:
countries.columns

Index(['area', 'capitol', 'country', 'pop'], dtype='object')

In [19]:
countries.diff

<bound method DataFrame.diff of     area    capitol      country   pop
0  12345   Brussels      Belgium  11.3
1  67239     Berlin      Germany  64.3
2  99993  New Delhi        India  88.9
3  23456  Amsterdam  Netherlands  77.4>

In [20]:
countries.dtypes

area         int64
capitol     object
country     object
pop        float64
dtype: object

In [21]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 4 columns):
area       4 non-null int64
capitol    4 non-null object
country    4 non-null object
pop        4 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 160.0+ bytes

In [22]:
countries.values

array([[12345, 'Brussels', 'Belgium', 11.3],
       [67239, 'Berlin', 'Germany', 64.3],
       [99993, 'New Delhi', 'India', 88.9],
       [23456, 'Amsterdam', 'Netherlands', 77.4]], dtype=object)

Change the Index to another column

In [23]:
countries = countries.set_index('country')
countries

              area    capitol   pop
country
Belgium      12345   Brussels  11.3
Germany      67239     Berlin  64.3
India        99993  New Delhi  88.9
Netherlands  23456  Amsterdam  77.4

In [24]:
 countries.describe()

               area        pop
count      4.000000   4.000000
mean   50758.250000  60.475000
std    40483.191404  34.289199
min    12345.000000  11.300000
25%    20678.250000  51.050000
50%    45347.500000  70.850000
75%    75427.500000  80.275000
max    99993.000000  88.900000

In [12]:
countries['area'].plot(kind='bar')
plt.show()

In [35]:
prot_data = pd.read_csv('DOCK_OUT.csv',sep=',')

In [36]:
prot_data.head()

,Sl.No,Receptor Protein,Ligand,Docking Score,Docking Result,No of Interactions,Interaction Sites
0,1,choline,7hydroxycoumarin,-3266,YES,5,"GLN-244,TYR-288,ASP-264"
1,2,choline,7isoorientin,-6142,YES,4,NaN
2,3,choline,Kaempferol,-4396,YES,5,"SER-150,TYR-147,ARG-104"
3,4,choline,isoshaftoside,-6236,YES,1,NaN
4,5,choline,Chrysin,-4194,YES,4,"LEU-70,GLY-76,ASP-264"